[submodule "ref_gl/nanogl"]
	path = ref_gl/nanogl
	url = https://github.com/FWGS/nanogl
[submodule "ref_gl/gl-wes-v2"]
	path = ref_gl/gl-wes-v2
	url = https://github.com/FWGS/gl-wes-v2
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb
[submodule "thirdparty/tbb"]
	path = thirdparty/tbb
	url = https://github.com/oneapi-src/oneTBB
[submodule "utils"]
	path = utils
	url = https://github.com/MicroSource/uSource-Utils
[submodule "darkradiant"]
	path = darkradiant
	url = https://github.com/MicroSource/darkradiant
[submodule "public"]
	path = public
	url = https://github.com/JJL772/libpublic
[submodule "thirdparty/nuklear"]
	path = thirdparty/nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear
